{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User_profile</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'BinLLM:index' %}">
                <!--logo -->
                <div class="sidebar-brand-icon rotate-n-0">
                    <img src="{% static 'img/plan.png' %}" alt="logo" width="40" height="auto">
                 </div>
                <!-- 项目名称 -->
                <div class="sidebar-brand-text mx-4" style="font-size: 25px;">BinLLM</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                <div style="display: flex; justify-content: center;">
                    自动化二进制代码漏洞检测系统
                </div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- 文件上传 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_1"
                    aria-expanded="true" aria-controls="collapsePages_1">
                    <i class="fas fa-upload"></i>
                    <span style="font-size: 16px">文件上传</span>
                </a>
                <div id="collapsePages_1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-300 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_file' %}">单个检测</a>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_multi_file' %}">批量检测</a>
                    </div>
                </div>
            </li>

{#            <!-- Heading -->#}
{#            <div class="sidebar-heading">#}
{#                <span>功能列表</span>#}
{#            </div>#}

            <!-- 账户管理 -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_2"
                    aria-expanded="true" aria-controls="collapsePages_2">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size: 16px">账户管理</span>
                </a>
                <div id="collapsePages_2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-400 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'User:profile' %}">个人信息</a>
                        <a class="collapse-item" href="{% url 'User:settings' %}">系统设置</a>
                        <hr>
                        <a class="collapse-item" href="{% url 'User:login' %}">退出登录</a>
                    </div>
                </div>
            </li>


            <!-- 日志分析 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'BinLLM:history' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span style="font-size: 16px">分析日志</span></a>
            </li>

            <!-- 关于我们 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'BinLLM:about' %}">
                    <i class="fas fa-home"></i>
                    <span style="font-size: 16px">关于我们</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
                <p class="text-center mb-2" style="color: #484a54"><strong>BinLLM</strong> 是一款基于大语言模型的二进制代码漏洞检测系统。由 SJTU 学生团队开发</p>
                <a class="btn btn-primary btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro" style="font-size: 13px;">了解更多</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Messages -->
                        <li class="nav-item no-arrow mx-1">
                            <a class="nav-link" href="{% url 'HOME:index' %}" id="messagesDropdown" role="button">
                                <i class="fas fa-home fa-fw"></i>
                                <!-- 跳转门户页面 -->
                                <span class="text-gray-600 small" style="padding-left: 5px">返回主页</span>
                            </a>
                            <!-- Dropdown - Messages -->
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.user_name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'User:profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    个人信息
                                </a>
                                <a class="dropdown-item" href="{% url 'User:settings' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    系统设置
                                </a>
                                <div class="dropdown-divider" href="{% url 'User:login' %}"></div>
                                <a class="dropdown-item" href="{% url 'User:login' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    退出登录
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-2 mb-4">
                        </div>

                        <div class="col-lg-8 mb-4">
                            <!-- Page Heading -->
                            <h1 class="h3 mb-0 text-gray-800">系统设置</h1>
                            <p class="mb-4" style="padding-top: 10px">自定义大模型</p>

                            <!-- 个人资料 -->
                            <div class="card shadow mb-4">
                                <!--标题-->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">资料卡片</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-sm-1 mb-4">
                                        </div>
                                        <div class="col-sm-10 mb-4">
                                            <!--开始表单-->
                                            <form class="user" method="post">
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                                        <label for="llm">
                                                          <p>大语言模型</p>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="row" >
                                                            <select id="llm" name="llm" style="width: 250px; height: 25px;">
                                                                <option value="1" {% if user.llm_model.llm_category == 1 %}selected{% endif %}>deepseek</option>
                                                                <option value="2" {% if user.llm_model.llm_category == 2 %}selected{% endif %}>gpt-4o</option>
                                                                <option value="3" {% if user.llm_model.llm_category == 3 %}selected{% endif %}>gpt-3.5-turbo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <p id="option-check"></p>
                                                </div>

                                                <div class="form-group">
                                                     <label for="type">
                                                         <p>API KEY</p>
                                                     </label>
                                                    <input type="text" class="form-control form-control-user"
                                                        id="API"  name="api"
                                                        placeholder="{{ user.llm_model.llm_api }}">
                                                </div>

                                                <hr>
                                                <h5 style="padding-bottom: 20px; font-weight: bold">模型参数</h5>
                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <input type="number" class="form-control form-control-user" name="token"
                                                        id="InputToken"
                                                        placeholder="{{ user.llm_model.llm_token }}">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control form-control-user"
                                                        id="InputTemperature"  name="temperature"
                                                        placeholder="{{ user.llm_model.llm_temp }}">
                                                    </div>
                                                </div>

                                                <hr>
                                                <h5 style="padding-bottom: 20px; font-weight: bold">提示序列</h5>
                                                <div class="form-group">
                                                    <label for="stage1">
                                                         <p>开始：任务陈述</p>
                                                     </label>
                                                    <textarea rows="5" class="form-control form-control-user"
                                                        id="stage1"  name="stage1" style="height: 120px">{{ user.llm_model.stage1 }}</textarea>
                                                </div>

                                                <hr>

                                                <div class="form-group">
                                                    <label for="type">
                                                         <p>中间：迭代识别危险流</p>
                                                     </label>
                                                    <textarea rows="5" class="form-control form-control-user"
                                                              id="stage2"  name="stage2" style="height: 120px">{{ user.llm_model.stage2 }}</textarea>
                                                </div>

                                                <hr>

                                                <div class="form-group">
                                                    <label for="type">
                                                         <p>结束：输出检测报告</p>
                                                    </label>
                                                    <textarea rows="5" class="form-control form-control-user"
                                                              id="stage3"  name="stage3" style="height: 120px">{{ user.llm_model.stage2 }}</textarea>
                                                </div>


                                                <button class="btn btn-info btn-user btn-block" type="submit">
                                                    保存更改
                                                </button>
                                            </form>
                                            <!--结束表单 -->

                                        </div>
                                    </div>
                                </div>
                                <!--虚线框-->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/locales/es.js' %}"></script>
    <script src="{% static 'js/locales/fr.js' %}"></script>

    <script src="{% static 'js/plugins/buffer.min.js' %}"></script>
    <script src="{% static 'js/plugins/filetype.min.js' %}"></script>
    <script src="{% static 'js/plugins/piexif.js' %}"></script>
    <script src="{% static 'js/plugins/sortable.js' %}"></script>
    <meta name="csrf-token" content="{% csrf_token %}">


<script>
	$(function () {
		$('#myTab li:eq(1) a').tab('show');
	});
</script>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}

</body>
</html>