{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'BinLLM:index' %}">
                <!--logo -->
                <div class="sidebar-brand-icon rotate-n-0">
                    <img src="{% static 'img/plan.png' %}" alt="logo" width="40" height="auto">
                 </div>
                <!-- 项目名称 -->
                <div class="sidebar-brand-text mx-4" style="font-size: 25px;">BinLLM</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                <div style="display: flex; justify-content: center;">
                    自动化二进制代码漏洞检测系统
                </div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- 文件上传 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_1"
                    aria-expanded="true" aria-controls="collapsePages_1">
                    <i class="fas fa-upload"></i>
                    <span style="font-size: 16px">文件上传</span>
                </a>
                <div id="collapsePages_1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-300 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_file' %}">单个检测</a>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_multi_file' %}">批量检测</a>
                    </div>
                </div>
            </li>

{#            <!-- Heading -->#}
{#            <div class="sidebar-heading">#}
{#                <span>功能列表</span>#}
{#            </div>#}

            <!-- 账户管理 -->
            <!-- 账户管理 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_2"
                    aria-expanded="true" aria-controls="collapsePages_2">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size: 16px">账户管理</span>
                </a>
                <div id="collapsePages_2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-400 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'User:profile' %}">个人信息</a>
                        <a class="collapse-item" href="{% url 'User:settings' %}">系统设置</a>
                        <hr>
                        <a class="collapse-item" href="{% url 'User:login' %}">退出登录</a>
                    </div>
                </div>
            </li>



            <!-- 日志分析 -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'BinLLM:history' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span style="font-size: 16px">分析日志</span></a>
            </li>

            <!-- 关于我们 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'BinLLM:about' %}">
                    <i class="fas fa-home"></i>
                    <span style="font-size: 16px">关于我们</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
                <p class="text-center mb-2" style="color: #484a54"><strong>BinLLM</strong> 是一款基于大语言模型的二进制代码漏洞检测系统。由 SJTU 学生团队开发</p>
                <a class="btn btn-primary btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro" style="font-size: 13px;">了解更多</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Messages -->
                        <li class="nav-item no-arrow mx-1">
                            <a class="nav-link" href="{% url 'HOME:index' %}" id="messagesDropdown" role="button">
                                <i class="fas fa-home fa-fw"></i>
                                <!-- 跳转门户页面 -->
                                <span class="text-gray-600 small" style="padding-left: 5px">返回主页</span>
                            </a>
                            <!-- Dropdown - Messages -->
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.user_name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'User:profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    个人信息
                                </a>
                                <a class="dropdown-item" href="{% url 'User:profile' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    系统设置
                                </a>
                                <div class="dropdown-divider" href="{% url 'User:login' %}"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    退出登录
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">历史记录</h1>
                    <p class="mb-4">所有经过该 BinLLM 分析的文件都会显示在这里.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">结果列表</h6>
                        </div>
                        <div class="card-body">
                             <div class="table-responsive">
                                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                                    <thead style="column-width: 50px; font-size: 16px">
                                        <tr>
                                            <th>
                                                名称
                                            </th>
                                            <th>上次分析时间</th>
                                            <th>上传者</th>
                                            <th>文件类型</th>
                                            <th>大小</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody style="column-width: 50px; font-size: 13px">
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                <a href="/BinLLM/detailed_file/{{ item.hash_value }}">{{ item.file_name }}</a>
                                            </td>
                                            <td>{{ item.create_time|date:"Y-m-d H:i" }}</td>
                                            <td>{{ item.creator.user_name }}</td>
                                            <td>{{ item.filetype }}</td>
                                            <td>{{ item.filesize }}</td>
                                            <td>
                                                <a href="{% url 'BinLLM:file_download' hash_id=item.hash_value %}" class="btn btn-success btn-icon-split btn-sm" >
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-download"></i>
                                                    </span>
                                                    <span class="text">下载报告</span>
                                                </a>
                                                <a href="{% url 'BinLLM:file_rehandle' hash_id=item.hash_value %}" class="btn btn-secondary btn-icon-split btn-sm" onclick="return file_rehandle()">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-redo"></i>
                                                    </span>
                                                    <span class="text">重新分析</span>
                                                </a>
                                                <a href="{% url 'BinLLM:file_delete' hash_id=item.hash_value %}" class="btn btn-danger btn-icon-split btn-sm" onclick="return file_delete()">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                    <span class="text">删除记录</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-8 col-lg-7">
                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">活跃度曲线</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">分析结果比例</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the donut chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'User:login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
{#    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>#}
{#    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>#}
{#    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>#}

    <script>
    var config = {
      type: 'doughnut',
      data: {
          datasets: [{
            data: {{ chart_data.data|safe }},
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          {#backgroundColor: [#}
          {#  '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'#}
          {#],#}
            label: 'Firmware'
        }],
        labels: {{ chart_data.labels|safe }}
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            {#displayColors: false,#}
            caretPadding: 10,
        },
        legend: {
            {#display: false,#}
            position:"right"

        },
        layout: {
            padding: {
                top: 0, // 调整顶部与图例之间的间距
                bottom: 30, // 调整底部间距
                left: 10, // 调整左侧间距
                right: 10 // 调整右侧间距
            }
        },
        cutoutPercentage: 80,
      },
    };
    window.onload = function() {
      var ctx = document.getElementById("myPieChart").getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
</script>

<script>
function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ bar_data.labels|safe }},
    datasets: [{
      label: "Number",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ bar_data.data|safe }},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ':' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

</script>
<script>
    function file_delete(filename) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            // area: ['30%', '20%'], //页面百分比
            shadeClose: true,
            btn: ['删除', '取消'],
            closeBtn: 2,
            // offset: 'auto',

            title: "确认删除",
            content: '<div style="text-align: center; padding: 10px;">确认删除文件<strong>' + filename + '</strong>吗？</div><div style="text-align: center; padding: 10px;">放入回收站30天后将自动删除</div>',
            yes: function (index, layero) {
                $('form#file_delete button').click();
                layer.close(index);
            }
        })
    }
</script>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}
<script type = "text/javascript" >

    function file_delete() {
        var msg = "确定要删除文件吗？\n\n删除后将不可恢复，\n\n请谨慎选择！";
        if (confirm(msg)==true){
            {#alert('您选择了 `确认`');#}
            return true;
        }else{
            {#alert('您选择了 `取消`');#}
            event.preventDefault(); // 阻止默认行为
            return false;
        }
    }

    function file_rehandle() {
        var msg = "确定要重新分析文件吗？\n\n重新分析后，原有记录将没有备份，\n\n请谨慎选择！";
        if (confirm(msg)==true){
            {#alert('您选择了 `确认`');#}
            return true;
        }else{
            {#alert('您选择了 `取消`');#}
            return false;
        }
    }

</script>


</body>

</html>