{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BinLLm_upload_file</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fileinput.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'BinLLM:index' %}">
                <!--logo -->
                <div class="sidebar-brand-icon rotate-n-0">
                    <img src="{% static 'img/plan.png' %}" alt="logo" width="40" height="auto">
                 </div>
                <!-- 项目名称 -->
                <div class="sidebar-brand-text mx-4" style="font-size: 25px;">BinLLM</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                <div style="display: flex; justify-content: center;">
                    自动化二进制代码漏洞检测系统
                </div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- 文件上传 -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_1"
                    aria-expanded="true" aria-controls="collapsePages_1">
                    <i class="fas fa-upload"></i>
                    <span style="font-size: 16px">文件上传</span>
                </a>
                <div id="collapsePages_1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-300 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_file' %}">单个检测</a>
                        <a class="collapse-item" href="{% url 'BinLLM:upload_multi_file' %}">批量检测</a>
                    </div>
                </div>
            </li>

{#            <!-- Heading -->#}
{#            <div class="sidebar-heading">#}
{#                <span>功能列表</span>#}
{#            </div>#}

            <!-- 账户管理 -->
            <!-- 账户管理 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages_2"
                    aria-expanded="true" aria-controls="collapsePages_2">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size: 16px">账户管理</span>
                </a>
                <div id="collapsePages_2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-gray-400 py-2 collapse-inner rounded">
                        <h6 class="collapse-header" style="color: #484a54">选项</h6>
                        <a class="collapse-item" href="{% url 'User:profile' %}">个人信息</a>
                        <a class="collapse-item" href="{% url 'User:settings' %}">系统设置</a>
                        <hr>
                        <a class="collapse-item" href="{% url 'User:login' %}">退出登录</a>
                    </div>
                </div>
            </li>



            <!-- 日志分析 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'BinLLM:history' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span style="font-size: 16px">分析日志</span></a>
            </li>

            <!-- 关于我们 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'BinLLM:about' %}">
                    <i class="fas fa-home"></i>
                    <span style="font-size: 16px">关于我们</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
                <p class="text-center mb-2" style="color: #484a54"><strong>BinLLM</strong> 是一款基于大语言模型的二进制代码漏洞检测系统。由 SJTU 学生团队开发</p>
                <a class="btn btn-primary btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro" style="font-size: 13px;">了解更多</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Messages -->
                        <li class="nav-item no-arrow mx-1">
                            <a class="nav-link" href="{% url 'HOME:index' %}" id="messagesDropdown" role="button">
                                <i class="fas fa-home fa-fw"></i>
                                <!-- 跳转门户页面 -->
                                <span class="text-gray-600 small" style="padding-left: 5px">返回主页</span>
                            </a>
                            <!-- Dropdown - Messages -->
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.user_name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'User:profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    个人信息
                                </a>
                                <a class="dropdown-item" href="{% url 'User:settings' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    系统设置
                                </a>
                                <div class="dropdown-divider" href="{% url 'User:login' %}"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    退出登录
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">



                    <!-- Content Row -->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-2 mb-4">
                        </div>

                        <div class="col-lg-8 mb-4">
                             <!-- Page Heading -->
                            <h1 class="h3 mb-0 text-gray-800">批量检测</h1>
                            <p class="mb-4" style="padding-top: 10px">上传后自动跳转。最多同时上传xxx。使用示例xxxxx</p>
                            <!-- 上传文件 -->
                            <div class="card shadow mb-4">
                                <!--标题-->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">上传文件</h6>
                                </div>
                                <div class="card-body">
                                    <form enctype="multipart/form-data">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <div class="file-loading">
                                                <input id="file-binary" data-token="${_csrf.token}" class="file" type="file" multiple data-preview-file-type="any" data-theme="fa5">
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    一些示例文件
                                </div>
                            </div>

                            <!-- Approach -->
                            <div id = "whole_Table">
                                <div class="card shadow mb-4" >
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">结果列表</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered"  width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>上次分析时间</th>
                                                    <th>文件类型</th>
                                                    <th>大小</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody style="column-width: 50px; font-size: 13px" id="myTable">
                                                <tr>
{#                                                    <td>Tiger Nixon</td>#}
{#                                                    <td>System Architect</td>#}
{#                                                    <td>Edinburgh</td>#}
{#                                                    <td>61</td>#}
{#                                                    <td>#}
{#                                                        <a href="#" class="btn btn-success btn-icon-split btn-sm">#}
{#                                                            <span class="icon text-white-50">#}
{#                                                                <i class="fas fa-arrow-down"></i>#}
{#                                                            </span>#}
{#                                                            <span class="text">下载报告</span>#}
{#                                                        </a>#}
{#                                                        <a href="#" class="btn btn-secondary btn-icon-split btn-sm">#}
{#                                                            <span class="icon text-white-50">#}
{#                                                                <i class="fas fa-redo"></i>#}
{#                                                            </span>#}
{#                                                            <span class="text">重新分析</span>#}
{#                                                        </a>#}
{#                                                        <a href="#" class="btn btn-danger btn-icon-split btn-sm">#}
{#                                                            <span class="icon text-white-50">#}
{#                                                                <i class="fas fa-trash"></i>#}
{#                                                            </span>#}
{#                                                            <span class="text">删除记录</span>#}
{#                                                        </a>#}
{#                                                    </td>#}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'User:login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/locales/es.js' %}"></script>
    <script src="{% static 'js/locales/fr.js' %}"></script>
    <script src="{% static 'js/fileinput.js' %}"></script>

    <script src="{% static 'js/plugins/buffer.min.js' %}"></script>
    <script src="{% static 'js/plugins/filetype.min.js' %}"></script>
    <script src="{% static 'js/plugins/piexif.js' %}"></script>
    <script src="{% static 'js/plugins/sortable.js' %}"></script>
    <meta name="csrf-token" content="{% csrf_token %}">

</body>
<script>
    const hiddenElement = document.getElementById('whole_Table');
    const fileInput = document.getElementById('file-binary');
    hiddenElement.style.display = 'none';
    // 监听文件输入控件的变化事件

    $("#file-binary")
        .fileinput({
        language: "zh", //设置语言
        headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        },
        dropZoneTitle: "可以将文件拖放到这里",
        theme: "fa",      // 主题设置
        initialPreviewAsData: true,
        showUploadedThumbs: true,
        uploadUrl: "process_multi_file",
        dropZoneEnabled: true,          // 点击预览区域进行文件上传操作
        showClose: false,
        showPreview: true,
        showAjaxErrorDetails: false,
        layoutTemplates :{
            {#actionDelete:'', //去除上传预览的缩略图中的删除图标#}
            actionUpload:'',//去除上传预览缩略图中的上传图片；
            actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
        },
        fileActionSettings :{
            removeIcon: 'X'
        },
        {#previewClass:"uploadPreview"#}
        }).on("fileuploaded", function(event, data) { //异步上传成功后回调
            hiddenElement.style.display = 'block';
            let rsp = data.response;
            console.log(rsp.data)
            var tableArr = rsp.file_json_list

            console.log(tableArr)
            console.log(tableArr[0])

            var theadText = rsp.keys
            // 填充表格
            var table=document.getElementById("myTable")
            var thead_tr=document.createElement("tr")
            table.appendChild(thead_tr)

            // 已经存在表头，直接创建 <tr>
            for(var k=0; k<tableArr.length; k++){
                var tr=document.createElement("tr")
                table.appendChild(tr)
                for(var j=0; j<theadText.length; j++){
                    var td=document.createElement("td")

                    // 为 "姓名" 列添加超链接
                    if (theadText[j] === "file_name") {
                        var a = document.createElement("a");
                        a.href = "/BinLLM/detailed_file/" + tableArr[k]["hash"]
                        a.textContent = tableArr[k][theadText[j]];
                        td.appendChild(a);
                    } else {
                        td.innerHTML = tableArr[k][theadText[j]];
                    }
                    tr.appendChild(td)
                }

                let hash = tableArr[k]["hash"]
                let fileName = tableArr[k]["file_name"]

                // 添加包含按钮的操作列
                var actionTd = document.createElement("td");

                // 下载报告按钮
                let dlUrl = `/BinLLM/download/${hash}/`;
                var downloadBtn = `<a href="${dlUrl}" class="btn btn-success btn-icon-split btn-sm">` +
                    '<span class="icon text-white-50"><i class="fas fa-arrow-down"></i></span>' +
                    '<span class="text">下载报告</span></a> ';

                // 重新分析按钮
                let redoUrl = `/BinLLM/rehandle/${hash}/`;
                var redoBtn = `<a href="${redoUrl}" class="btn btn-secondary btn-icon-split btn-sm" onclick="return file_rehandle();">` +
                    '<span class="icon text-white-50"><i class="fas fa-redo"></i></span>' +
                    '<span class="text">重新分析</span></a> ';

                // 删除记录按钮
                let deUrl = `/BinLLM/delete/${hash}/`;
                var deleteBtn = `<a href="${deUrl}" class="btn btn-danger btn-icon-split btn-sm" onclick="return file_rehandle();">` +
                    '<span class="icon text-white-50"><i class="fas fa-trash"></i></span>' +
                    '<span class="text">删除记录</span></a>';

                actionTd.innerHTML = downloadBtn + redoBtn + deleteBtn;
                tr.appendChild(actionTd);
            }
    });
</script>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}

<script type = "text/javascript" >

    function file_delete() {
        var msg = `确定要删除文件吗？\n\n删除后将不可恢复，请谨慎选择！`;
        if (confirm(msg)==true){
            {#alert('您选择了 `确认`');#}
            return true;
        }else{
            {#alert('您选择了 `取消`');#}
            {#event.preventDefault(); // 阻止默认行为#}
            return false;
        }
    }

    function file_rehandle() {
        var msg = `确定要重新分析文件吗？\n\n重新分析后，原有记录将没有备份，请谨慎选择！`;
        if (confirm(msg)==true){
            {#alert('您选择了 `确认`');#}
            return true;
        }else{
            {#alert('您选择了 `取消`');#}
            return false;
        }
    }

</script>
</html>